#chartHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
}

.cardSHORT {
    font-size: x-large;
    font-weight: bold;
}

.cardCODE {
    font-size: medium;
}

.card75 {
    font-size: larger;
}

.card90 {
    font-size: larger;
}
