body {
    font-family: "Ubuntu", sans-serif;
}

nav > div.container {
    margin-top: 0%;
}

body > div.container {
    margin-top: 2%;
}

.row {
    margin-top: 5%;
}

.bordy {
    border: solid;
    border-color: black;
    border-width: thin;
}

.btnsHolder a {
    width: 240px;
}

@media screen and (min-width: 1200px) {
    .btnsHolder {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* align-items: center; */
    }

    .btnsHolder a {
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media screen and (max-width: 1200px) {
    .btnsHolder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btnsHolder a {
        margin-top: 2%;
        margin-bottom: 2%;
    }
}
