body {
    font-family: "Ubuntu", sans-serif;
}

nav > div.container {
    margin-top: 0%;
}

.row {
    margin-top: 5%;
}

.bordy {
    border: solid;
    border-color: black;
    border-width: thin;
}

.cta-btn {
    width: 100%;
}

blockquote {
    margin: 14px 0;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    background-color: #ffebee;
    border-left-color: #ff1744;
}

body
    > div.container
    > div:nth-child(1)
    > div:nth-child(2)
    > div:nth-child(1)
    > span
    > blockquote:nth-child(5) {
    background-color: #fffde7;
    border-left-color: #ffeb3b;
}

ul.collapsible.popout > li.active {
    margin: 24px 0;
}

.dropdown-content li:hover,
.dropdown-content li.active {
    background-color: #ff1744 !important;
    filter: brightness(102%);
}

.dropdown-content > li:hover .dropdown-content > li > a {
    color: white !important;
    filter: brightness(100%);
}

.g-recaptcha {
    margin: 1rem 0;
}

#login-with-uims-form .progress {
    margin: 1rem 0;
}

#nav-spinner-sync .preloader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
